table{
    margin: 0;
    padding: 0;
}

.ticket-container{
    width: 950px;
}

.ticket{
    display:inline-table;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    BORDER-BOTTOM: grey 1px solid;
    BORDER-LEFT: grey 1px solid;
    BORDER-TOP: grey 1px solid;
    BORDER-RIGHT: grey 1px solid;
    width:300;
    height:190;
}